  @import 
  url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap');

  html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: -0.035em;
  min-width: 320px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.contact-us {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 43.26% auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #000 60% , #ca6ced);
}

.contact-form h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #F1F2F4;
  margin-top: 108px;
}

.contact-form p {
  margin: 0;
  padding: 0;
  width: 68.1%;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #F1F2F4;
  margin-top: 18px;
  margin-bottom: 48px;
}

.contact-form form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form input[type="text"] {
  outline: none;
  width: 48%;
  line-height: 48px;
  height: 48px;
  border: 1px solid rgba(241, 242, 244, 0.24);
  border-radius: 12px;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
  color: #F1F2F4;
  background-color: transparent;
  padding-left: 24px;
  box-shadow: none;
  margin-bottom: 24px;
  transition: border-color 0.5s;
}

.contact-form input[type="text"]:focus {
  border-color: #F1F2F4;
}

.contact-form input[type="email"] {
  outline: none;
  width: 48%;
  line-height: 48px;
  height: 48px;
  border: 1px solid rgba(241, 242, 244, 0.24);
  border-radius: 12px;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
  color: #F1F2F4;
  background-color: transparent;
  padding-left: 24px;
  box-shadow: none;
  margin-bottom: 36px;
  transition: border-color 0.5s;
}

.contact-form input[type="email"]:focus {
  border-color: #F1F2F4;
  border-radius: 12px;
}

.contact-form textarea {
  outline: none;
  width: 48%;
  border: 1px solid rgba(241, 242, 244, 0.24);
  border-radius: 12px;
  background-color: transparent;
  padding-left: 24px;
  box-shadow: none;
  height: 84px;
  margin-bottom: 60px;
  padding-top: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  font-weight: 200;
  color: #F1F2F4;
  transition: border-color 0.5s;
}

.contact-form textarea:focus {
  border-color: #F1F2F4;
}

.contact-form textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}



.submit-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.submit-btn span {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #f1f2f4;
  margin-right: 13px;
  vertical-align: middle;
}

button {
  margin: 0;
  padding: 0;
  transition: opacity 0.5s;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F1F2F4 url(img/Subtract.svg) no-repeat 50% 50%;
  border: none;
  transform: rotate(45deg);
}

.submit-btn button:hover {
  opacity: 0.5;
}

.advantages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  padding-bottom: 100px;
}


.advantages h2 {
  margin: 0;
  padding: 0;
  width: 79.2%;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 96px;
  color: #111111;
}

.advantages h2 b {
  font-weight: 700;
}

.advantages p {
  margin: 0;
  padding: 0;
  width: 60.4%;
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 36px; 
  color: #111111;
}

.advantages dl {
  margin: 0;
  padding: 0;
  width: 74.644%;
  margin-top: 96px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 24px;
}

.advantages dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.advantages dd {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
  
  
@media (max-width: 1440px) {
  .container{
    max-width: 970px;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    width: 60%;
  }
  .contact-form textarea {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 750px;
  }
  .contact-us {
  grid-template-columns: 1fr;
  }
  .contact-form {
    order: 2;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    width: 60;
  }
  .contact-form textarea {
    width: 60%;
  }

}

@media (max-width: 767px) {
  .container{
    max-width: none;
  }
  .contact-us {
  grid-template-columns: 1fr;
  }
  .contact-form {
    order: 2;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    width: 86.667%;
  }
  .contact-form textarea {
    width: 86.667%;
  }
  .advantages dd {
    margin-left: 30px;
  }
  .advantages {
    padding-left: 24px;
    align-items: flex-start;
  }
  .advantages h2 {
    width: 90%;
  }
  .advantages p {
    width: 90%;
  }
  .advantages dl {
    width: 90%;
  }
}
