@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: -0.035em;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.background-wrapper {
  display: grid;
  grid-template-columns: 19.44% auto;
  grid-template-rows: 696px;
  grid-template-areas: 'social page-text';
  background: url(/img/404-image.png) no-repeat bottom -16px left 233px;
}

main {
  position: relative;
  background-color: #111111;
  overflow: hidden;
}

.background-wrapper::before {
  content: '';
  position: absolute;
  background-image: url(/img/gradient.png);
  background-repeat: no-repeat;
  left: -601px;
  bottom: -464px;
  width: 1100px;
  height: 1100px;
}

.background-wrapper::after {
  content: '';
  position: absolute;
  background: url(/img/ufo-plus-stars.png) no-repeat;
  left: 891px;
  bottom: 49px;
  width: 708px;
  height: 708px;
}

.social-bar {
  position: relative;
  grid-area: social;
  display: flex;
  flex-direction: column;
}

.social-btns {
  margin-top: 203px;
  margin-left: 76px;
  list-style: none;
}

.social-btns li {
  margin-bottom: 36px;
}

.social-btns li a {
  display: block;
  width: 16px;
  height: 16px;
  color: #f1f2f4;
  opacity: 0.72;
  transition: opacity 0.5s;
  text-decoration: none;
}

.social-btns li a:hover {
  opacity: 1;
}

.page-text {
  grid-area: page-text;
  display: flex;
  flex-direction: column;
  margin-top: 122px;
}

.page-text h2 {
  color: #f1f2f4;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.page-text p {
  margin-top: 18px;
  width: 345px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f2f4;
  opacity: 0.84;
}

.back-btn {
  margin-top: 67px;
  display: flex;
  align-items: center;
}

.back-btn span {
  color: #f1f2f4;
  font-size: 14;
  line-height: 24px;
}

.back-btn button {
  display: block;
  outline: none;
  border: none;
  margin-left: 17px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f1f2f4 url(/img/Subtract.svg) no-repeat 50% 50%;
  transform: rotate(180deg);
  transition: opacity 0.5s;
}

.back-btn button:hover {
  opacity: 0.84;
}
