@import 
  url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

  html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: -0.035em;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 26.46% auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:  "back-to-cases main-h2"
                        "short-descr results-table"
                        "social-bar CCO-container"
                        "case-data company-descr"
                        ". team"
                        ". summary"
                        ". main-takeaway"
                        ". problems"
                        ". reason-to-partner"
                        ". what-we-did"
                        ". results"
                        ". tags";


  padding-top: 50px;
  padding-bottom: 50px;
}

article {
  position: relative;
}

article::before {
  content: "";
  position: absolute;
  background: url(img/dotted-circle.png) no-repeat;
  width: 1259px;
  height: 1258px;
  top: 0;
  right: -550px;
  animation-name: circle-rotation;
  animation-duration: 250s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

article::after {
  content: "";
  position: absolute;
  background: url(img/gradient+blur.png) no-repeat;
  width: 1728px;
  height: 1438px;
  top: -35px;
  right: -730px;
}


.back-to-cases {
  grid-area: back-to-cases;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border: none;
  outline: none;
  background: none;
  align-self: flex-start;
  text-align: left;
}

.back-to-cases a{
  text-decoration: none;
  color: #5F6066;
  transition:  opacity 0.5s;
}

.back-to-cases a:hover{
  opacity: 0.5;
}

.short-descr {
  grid-area: short-descr;
  display: flex;
  flex-direction: column;
}

.short-descr div {
  margin-top: 24px;
}

.short-descr div:first-child {
  margin-top: 0;
}

.short-descr div:last-child {
  display: none;
}

.short-descr dt {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5F6066;
}

.short-descr dd {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #303033;
  margin-top: 8px;
  margin-bottom: 24px;
}

.short-descr dd:last-child {
  margin-bottom: 0;
}

.social-bar {
  margin-top: 60px;
  grid-area: social-bar;
}

.social-bar div {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5F6066;
}

.social-btns {
  margin-top: 16px;
  display: flex;
  list-style: none;
}

.social-btns li{
  list-style: none;
}

.social-btns li a{
  text-decoration: none;
  color: #303033;
  margin-right: 24px;
  transition: opacity 0.2s;
  line-height: 16px;
  font-size: 16px;

}

.social-btns li a:hover {
  opacity: 0.5;
}

.social-btns li:nth-child(3) a{
  margin-right: 20px;
}

.social-btns li:last-child a{
  margin-right: 0;
}

.case-data {
  margin-top: 52px;
  grid-area: case-data;
}

.case-data .year{
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5F6066;
}

.case-data .month{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #303033;
  margin-top: 4px;
}

.animation-wrapper {
  position: relative;
}

.animation-wrapper::before {
  content: "";
  position: absolute;
  background: url(img/dotted-circle.png) no-repeat;
  width: 1259px;
  height: 1258px;
  bottom: 2000px;
  left: -822px;
  animation-name: circle-rotation;
  animation-duration: 250s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
  z-index: -1;
}

.animation-wrapper::after{
  content: "";
  position: absolute;
  background: url(img/gradient+blur.png) no-repeat;
  width: 1728px;
  height: 1438px;
  bottom: 2035px;
  left: -1002px;
  z-index: -2;
}

.main-h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: #303033;
  grid-area: main-h2;
  width: 65.16%;
}

.main-h2 span{
  color: #005FFF;
}

.results-table {
  margin-top: 36px;
  grid-area: results-table;
  width: 65.16%;
  height: 68px;
  display: flex;
  justify-content: space-between;
}

.results-table div {
  display: flex;
  flex-direction: column;
}

.results-table dt {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #111111;
  text-align-last: left;
}

.results-table dd {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #2B2B2B;
  opacity: 0.6;
  padding-right: 48px;
  margin-top: 8px;
}

.results-table td:last-child {
  padding-right: 0;
}

.CCO-container {
  display: flex;
  align-items: center;
  grid-area: CCO-container;
  width: 65.16%;
}

.CCO-container img {
  width: 96px;
  height: 96px;
  margin-right: 29px;
}

.CCO dt {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #111111;
}

.CCO dd {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2B2B2B;
  opacity: 0.48;
}

.company-descr {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
  margin-top: 24px;
  grid-area: company-descr;
  width: 65.16%;
}

.team {
  margin-top: 60px;
  grid-area: team;
  width: 65.16%;
}

.team h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.team-members {
  display: flex;
  margin-top: 36px;
  width: 100%;
}

.team-member {
  display: flex;
  margin-right: 72px;
}

.team-member img {
  margin-right: 18px;
  width: 72px;
  height: 72px;
}


.team-members dl dt {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #111111;
}

.team-members dl dd {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2B2B2B;
  opacity: 0.48;
}

.summary {
  margin-top: 60px;
  grid-area: summary;
  width: 65.16%;
}

.summary h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.summary p,
.main-takeaway p,
.problems p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #5F6066;
  margin-top: 24px;
}

.main-takeaway {
  margin-top: 48px;
  grid-area: main-takeaway;
  width: 65.16%;
}

.main-takeaway h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.main-takeaway p span {
  color: #005FFF;
}

.problems {
  margin-top: 60px;
  grid-area: problems;
  width: 65.16%;
}

.problems h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
}

.problems p {
  color: #303033;
  font-style: italic;
}

.reason-to-partner {
  margin-top: 60px;
  grid-area: reason-to-partner;
  width: 65.16%;
}

.reason-to-partner h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.reason-to-partner ol {
  padding-left: 27px;
}

.reason-to-partner li {
  padding-top: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
}

.reason-to-partner li span {
  font-weight: 600;
}

.what-we-did {
  margin-top: 60px;
  grid-area: what-we-did;
  width: 65.16%;
}

.what-we-did h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.what-we-did ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.what-we-did li {
  width: 31.33%;
}

.what-we-did li dl {
  margin-top: 36px;
}

.what-we-did li dt {
  padding: 10px 0 0 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #ff6020;
  background-color: rgba(255, 96, 32, 0.1);
}

.what-we-did li dd {
  padding: 20px 0;
  font-weight: bolder;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ff6020;
  background-color: rgba(255, 96, 32, 0.1);
}

.what-we-did > dl{
  margin-top: 60px;
}

.what-we-did dt{
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
}

.what-we-did > dl > dd {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
  margin-top: 36px;
}

.results {
  margin-top: 60px;
  grid-area: results;
  width: 65.16%;
}

.results h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #303033;
}

.results ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 36px;
}

.results li {
  width: 48%;
}

.results dt {
  padding: 10px 0 0 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #ff6020;
  background-color: rgba(255, 96, 32, 0.1);
}

.results dd {
  padding: 20px 0;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
  color: #ff6020;
  background-color: rgba(255, 96, 32, 0.1);
}

.results p {
  padding-top: 36px;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #303033;
}

.results p span {
  color: #005FFF;
  font-weight: 600;
}

.results img {
  padding-top: 36px;
  width: 100%;
  height: auto;
}

.tags {
  margin-top: 60px;
  grid-area: tags;
  width: 65.16%;
}

.tags ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.tags ul li {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #8B8E99;
  border: 1px solid #E1E6F2;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 0 12px;
}


@media (max-width: 1440px) {
  .container{
    max-width: 970px;
  }

  .team-member {
    display: flex;
    margin-right: 12px;
  }
  
  .team-members dl dt {
    font-size: 20px;
    line-height: 25px;
    color: #111111;
  }

  .team-members dl dd {
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
    opacity: 0.48;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 750px;
    grid-template-columns: 1fr;
    grid-template-areas:"back-to-cases"
                        "main-h2"
                        "results-table"
                        "short-descr"
                        "case-data"
                        "CCO-container"
                        "company-descr"
                        "team"
                        "summary"
                        "main-takeaway"
                        "problems"
                        "reason-to-partner"
                        "what-we-did"
                        "results"
                        "tags"
                        "social-bar";
  }

  .main-h2,
  .results-table,
  .short-descr,
  .case-data,
  .CCO-container,
  .company-descr,
  .team,
  .summary,
  .main-takeaway,
  .problems,
  .reason-to-partner, 
  .what-we-did,
  .results,
  .tags,
  .social-bar {
    width: 100%
  }

  article::before {
    right: -1000px;
  }

  article::after {
    right: -1200px;
  }

  .results-table {
    height: auto;
  }

  .short-descr {
    margin-top: 24px;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .short-descr div {
    margin-right: 72px;
  }
  
  .short-descr div:last-child {
    display: block;
  }

  .short-descr div:first-child {
    margin-top: 24px
  }

  .short-descr dt {
    font-size: 16px;
  }

  .short-descr dd {
    font-size: 18px;
  }

  .case-data {
    display: none;
  }

  .team-member {
    display: flex;
    margin-right: 72px;
  }

}

@media (max-width: 767px) {
    .container{
    max-width: none;
    grid-template-columns: 1fr;
    grid-template-areas:"back-to-cases"
                        "main-h2"
                        "results-table"
                        "short-descr"
                        "case-data"
                        "CCO-container"
                        "company-descr"
                        "team"
                        "summary"
                        "main-takeaway"
                        "problems"
                        "reason-to-partner"
                        "what-we-did"
                        "results"
                        "tags"
                        "social-bar";
    padding-left: 24px;
    padding-right: 24px
  }

  article::before {
    right: 200px;
    top: 450px
  }

  article::after {
    right: 0px;
  }

  .animation-wrapper::before {
    bottom: 2550px;
    left: 172px;
  }

  .animation-wrapper::after{
    bottom: 2400px;
    left: 0px;
  }

  .main-h2,
  .results-table,
  .short-descr,
  .case-data,
  .CCO-container,
  .company-descr,
  .team,
  .summary,
  .main-takeaway,
  .problems,
  .reason-to-partner, 
  .what-we-did,
  .results,
  .tags,
  .social-bar {
    width:100%
  }

  .main-h2,
  .team h3,
  .summary h2,
  .main-takeaway h2,
  .problems h2,
  .reason-to-partner h2,
  .what-we-did h2,
  .results h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .summary p,
  .main-takeaway p,
  .problems p,
  .reason-to-partner li,
  .what-we-did > dl > dt,
  .what-we-did > dl > dd,
  .results p {
    font-size: 16px;
    line-height: 24px;
  }


  .results-table {
    height: auto;
    flex-wrap: wrap;
  }

  .results-table div {
    width: 48%;
    margin-bottom: 12px;
  }

  .results-table dt {
    font-size: 24px;
    line-height: 36px;
  }

  .results-table dd {
    width: 90%;
  }

  .short-descr {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .short-descr div {
    width: 48%;
    margin: 0;
    margin-top: 36px;
  }
  
  .short-descr div:first-child,
  .short-descr div:nth-child(2) {
    margin-top: 0px;
  }

  .short-descr div:last-child {
    display: block;
  }

  .case-data {
    display: none;
  }

  .CCO-container {
    margin-top: 60px;
  }

  .CCO-container img {
    height: 60px;
    width: 60px;
    margin-left: 12px;
  }

  .company-descr {
    font-size: 16px;
    line-height: 24px;

  }

  .team-members {
    flex-wrap: wrap;
  }

  .team-member {
    display: flex;
    margin-right: 12px;
    margin-bottom: 24px;
  }

  .team-member dl {
    align-self: center;
  }

  .what-we-did ul {
    flex-wrap: wrap;
  }

  .what-we-did li {
    width: 100%;
  }

  .what-we-did li dl{
    margin-top: 24px;
  }

  .what-we-did li dl dd {
    font-size: 48px;
    line-height: 60px
  }

  .results ul{
    flex-wrap: wrap;
  }

  .results li {
    width: 100%;
    margin-bottom: 24px;
  }
  .tags {
    margin-top: 12px;
  }

  .social-bar {
    margin-top: 48px;
  }

  .main-h2 {
    margin-top: 38px;
  }
}

@keyframes circle-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

